<h1>Project Details | <%= @project.name %> </h1>
<div class='project_info'>
 
<p>
  <strong>Location:</strong>
  <%= @project.location_text %>
</p>

<p>
  <strong>Total Installed Capacity:</strong>
  <%= @project.total_installed_capacity %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @project.configuration %>
</p>
</div>
<%= form_for :search_form, url: get_ranged_generations_outages_project_path(@project), method: :get do |form| %>
<table class='responstable'>
	<thead>
		<tr>
			<th colspan=3>Search for data</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= form.label :from_date, "Beginning date:" %>
				<%= form.text_field :from_date, :id=> 'from_date' %>
			</td>
			<td>
				<%= form.label :from_date, "End date:" %>
				<%= form.text_field :to_date, :id=> 'to_date' %>
			</td>
			<td><%= form.submit "Search" %></td>
		</tr>
	</tbody>
</table>
<% end %>


<table class='responstable'>
<thead>
		<tr>
			<th>Machine</th>
			<th>Capacity</th>
			<th>Type</th>
			<th>Status</th>
			<th colspan=3>Actions</th>
		</tr>
	</thead>
<% @machines.each do |project_machine| %>
	<tbody>
		<tr>
		   <td><%= project_machine.name %></td>
		  <td><%= project_machine.generator_capacity %></td>
		  <td><%= project_machine.generator_type %></td>
		  <td>
			<% if project_machine.machine_status == 'Operational' %>
				<%= image_tag "/assets/green_status_small.png" %>
			<% elsif project_machine.machine_status == 'Shutdown'  %>
				<%= image_tag "/assets/red_status_small.png" %>
			<% else %>
				<%= image_tag "/assets/unknown_status_small.png" %>
			<% end %>
	
			<%= project_machine.machine_status %><br/><%= link_to '(Edit)', new_project_machine_machine_status_path(@project,project_machine), class: 'classic_url' %>
		  </td>
		  <td><%= link_to 'Add Daily Generation', new_project_machine_generation_path(@project,project_machine) %></p>
		  <td><%= link_to 'Add Outage', new_project_machine_outage_path(@project,project_machine) %></p>
		  <td><%= link_to 'Current Month Generation', current_month_generations_project_machine_path(@project,project_machine) %></p>
		</tr>
	<tbody>
<% end %>
</table>
<div class='bottom_links'>
<ul>
<li><%= link_to 'Add Machine', new_project_machine_path(@project) %></li>
<li><%= link_to 'Go to Projects', projects_path %></li>
<ul>
</div>