<h1>Search Results | <%= @project.name %> |  <%= @machine.name %> </h1>
<h4>From: <%= Date.parse(@from_date).strftime("%d-%b-%Y") %> <br/>To: <%= Date.parse(@to_date).strftime("%d-%b-%Y") %></h4>
<hr/>
<table class='responstable'>
	<thead>
			<tr>
				<th>Date</th>
				<th>Gross Units Generated (LUs)</th>
				<th>Aux Units Generated (LUs)</th>
				<th>Net Units Generated (LUs)</th>
				<th>Total Outage (Hours)</th>
				<th>List Outages</th>
					
			</tr>
		</thead>
	<% @date_range.each do |c_date| %>
		<tbody>
			<tr>
				<td><%= c_date.strftime("%d-%b-%Y") %></td>
				<td><% if @machine_day_generations.key?(c_date) %>
						<%= @machine_day_generations[c_date] %>
						<% net_generation = @machine_day_generations[c_date] %>
					<% end %>
				</td>
				<td><% if @machine_day_aux_generations.key?(c_date) %>
						<%= @machine_day_aux_generations[c_date] %>
						<% net_generation = net_generation - @machine_day_aux_generations[c_date] %>
					<% end %>
				</td>
				<td>	
					<% if net_generation %>
					<%= net_generation %>
					<% end %>
				</td>
				<td>
					<% if @machine_day_outages.key?(c_date) %>
						<%= @machine_day_outages[c_date] %>
					<% end %>
				</td>
				<td>
					<%= link_to 'Click', get_day_list_outages_project_machine_path(@project,@machine,:day =>c_date) %>
				</td>
			</tr>
		
	<% end %>
	<tr>
	</tr>
	<tbody>
</table>
<p><%= link_to 'All Projects', projects_path %></p>