<h1>Machine Details </h1> 
<h2><%= @project.name %> | <%= @machine.name %></h2>
<div class='project_info'>
<p>
  <strong>Project:</strong>
  <%= @project.name %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @project.location_text %>
</p>



<p>
  <strong>Machine:</strong>
  <%= @machine.name %>
</p>
<p>
  <strong>Machine Generator:</strong>
  <%= @machine.generator_type %>
</p>
<p>
  <strong>Machine Capacity:</strong>
  <%= @machine.generator_capacity %>
</p>
</div>

<%= form_for :search_form, url: get_ranged_generations_outages_project_machine_path(@project,@machine), method: :get do |form| %>
<table class='responstable'>
	<thead>
		<tr>
			<th colspan=3>Search for data</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= form.label :from_date, "Beginning date:" %>
				<%= form.text_field :from_date, :id=> 'from_date' %>
			</td>
			<td>
				<%= form.label :from_date, "End date:" %>
				<%= form.text_field :to_date, :id=> 'to_date' %>
			</td>
			<td><%= form.submit "Search" %></td>
		</tr>
	</tbody>
</table>
<% end %>
<div class='bottom_links'>
<ul>
<li><%= link_to 'Add Machine', new_project_machine_path(@project) %></li>
<li><%= link_to 'Go to Projects', projects_path %></li>
<ul>
</div>